.footer-form-submit {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    @include font(700, 16px);
    line-height: 1.88;
    padding: 10px 28px;
    border: none;
    transition: background-color var(--transition);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);

    &:hover,
    &:focus {
        background-color: var(--bcg--button-hover);
    }
}



.modal-form-submit {
    padding: 10px 52px;
    margin: 0 auto;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    min-width: 200px;
    @include font(700, 16px);
    line-height: 1.88;
    align-self: center;
        display: flex;
            align-items: center;
            justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition);

    &:hover,
    &:focus {
        background-color: var(--bcg--button-hover);
    }
}

