:root {
    --primary-text-color: #757575;
    --title-text: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --bcg-color-button: #f5f4fa;
    --bcg--button-hover: #188ce8;
    --black-color: #000;
    --hero-bcg: #2f303a;
    --hero-bcg-new: #c4c4c4;
    --line-header: #ececec;
    --line-cards: #eeeeee;
    --icon-color: #afb1b8;
    --overlay-bcg: rgba(33, 150, 243, 0.9);
    --overlay-photo: rgba(47, 48, 58, 0.8);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --modal-bcg: rgba(0, 0, 0, 0.2);
    --input-border: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --footer-e-mail: rgba(255, 255, 255, 0.6);
}